.contentBox
{
	width: 100%;
	display: inherit;
	flex-direction: column;
	flex-grow: 1;
}
input[type=text], textarea{
	font-size:1em;
}
.contentFields
{
	height: 100%;
	flex-direction: column;
	flex-grow: 1;
}
.contentFields > input[type=text]
{
	padding: 0.5em 0;
	width: 100%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
	font-style: normal;
	outline: none;
    border: none;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	background-color: transparent;
}
.inceptionContainer {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.timerContainer {
	display: inherit;
	flex: 0 1 33%;
	max-width: 33%;
	flex-direction: column;
    align-items: center;
}
.timerContainer > input[type="number"] {
	width: 100%;
    background: transparent;
    font-size: 5em;
    text-align: center;
    outline: none;
    border: none;
}
.timerContainer > input[type="date"] {
	position: relative;
	z-index: -1;
	opacity: 0;
	display: none !important;
}
.timerContainer > input[type="date"] + label {
	padding: 10px;
	color: white;
	background-color: var(--orange);
	border-radius: 8px;
	text-align: center;
}
.timerContainer > input[type="date"] + label > p {
	margin: 0;
}
.timerContainer > input[type="date"] + label > p:nth-child(2) {
	font-size: 2em;
}
.timerContainer > img {
	width: 3rem;
}
.timerContainer > img:active {
	transform: scale(.96);
}
  
.timerContainer > img:nth-child(1) {
	transform: rotate(180deg);
}
.timerContainer > img:nth-child(1):active {
	transform: rotate(180deg) scale(.96);
}
.contentFields > textarea
{
	padding: .625em;
	margin: 1em 0;
	width: 100%;
	flex-grow: 1;
	background-color: transparent;;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
	font-style: normal;
	box-sizing: border-box;
	outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	resize: none;
}
.contentFields > iframe
{
	margin: 20px 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.contentFields > input[type=checkbox] + label {
	margin-top: 20px;
}
.contentFields > input[type=checkbox] + label::before {
	margin-top: 5px;
}
.control-box > button
{
	padding: 1rem 2rem;
	float: right;
	color: var(--white);
	background: var(--dark-blue);
	font-size: 1em;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	letter-spacing: 0.055em;
	outline: none;
	border:none;
	border-radius: 20px;
}
input[type=checkbox]{
	position: relative;
	z-index: -1;
	opacity: 0;
	display: none !important;
}
input[type=checkbox] + label{
	display: inline-flex;
	align-items: flex-start;
	user-select: none;
}
input[type=checkbox] + label::before{
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #474747;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
input[type=checkbox]:checked+label::before{
	border-color: var(--orange);
	background-color: var(--orange);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before{
	border-color: var(--orange);
}
input[type=checkbox]:not(:disabled):active+label::before{
	background-color: var(--orange);
	border-color: var(--orange);
}
input[type=checkbox]:focus+label::before{
	box-shadow: 0 0 0 0.2rem var(--orange);
}
input[type=checkbox]:focus:not(:checked)+label::before{
	border-color: var(--orange);
}
input[type=checkbox]:disabled+label::before{
	background-color: #e9ecef;
}
.dropdownMenu
{
	position: relative;
	height: fit-content;
}
.taskTitleBox
{
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.dropdownMenu input
{
	padding-bottom: 5px;
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.taskTitleBox img
{
	width: 20px;
    transform:  scaleY(1);
    transition: transform 0.4s linear;	
	transform-origin: center;
}
.taskTitleBox img.active
{
	transform: scaleY(-1);
    transition: transform 0.4s linear;
	transform-origin: center;
}
.activitiesList .activity
{
	padding: 10px;
    display: flex;
    justify-content: space-between;
}
.activitiesList .activity > img
{
    width: 1em;
}
.activitiesList{
	position: absolute;
	width: 100%;
	max-height: 0px;
	background-color: var(--white);
    -webkit-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    -moz-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
	border-radius: 0 0 8px 8px;
	border: none;
	overflow:hidden;
}
.invalidInputSelect
{
	border-color: red !important;
    animation: shakeX;
    animation-duration: 1s;
}
.activitiesList > .activity input 
{
	width: 100%;
	background-color: transparent;;
	font-family: 'Montserrat';
	font-style: normal;
	box-sizing: border-box;
	outline: none;
    border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.table-container {
	overflow: auto;
	max-height: 300px;
	margin: 10px 0;
}
.table-container::-webkit-scrollbar {
	display: none;
}
.table-container > table{

	padding: 0;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px #ddd solid;
	border-radius: 8px;
}
.table-container > table tr{
	padding: .35em;
	background-color: #f8f8f8;
}
.table-container > table th,
.table-container > table td {
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px 5px;	
}
.table-container > table td > input{

	width: -webkit-fill-available;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
	font-style: normal;
	background-color: transparent;
	outline: none;
	border: none;
}
@media screen and (max-device-width: 768px) {
	.table-container {
		max-height: min-content;
	}
	.table-container > table{
		border: 0;
	}
	.table-container > table caption{
		/* font-size: 1.3em; */
	}
	.table-container > table thead{
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}	
	.table-container > table tr{
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	.table-container > table td{
		border-bottom: 1px solid #ddd;
		display: block;
		/* font-size: .8em; */
		text-align: right;
	}
	.table-container > table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
	.table-container > table td:last-child {
		border-bottom: 0;
	}
	.table-container > table th,
	.table-container > table td {
		text-align: center;
		border: none;
	}
}
.mobilelinksForm {
	margin: 0 5px;
	display: flex;
	justify-content:space-between;
}
.mobileIconForm > svg {
	width: 6vw;
    height: auto;
	transform: rotate(0deg);
}
.mobileIconForm > svg.active
{
	transition: 1s ease-in-out;
	fill:var(--orange);
	animation: bounce;
  	animation-duration: 1s;
}
.mobileProgress {
	margin-top: 15px;
	max-width: 100%;
	height: 15px;
	background: #e1e4e8;
	overflow: hidden;
	text-align: center;
	border-radius: 10px;
}
.mobileProgressBar {
	--value: 0;
	width: 	var(--value);
	height: 100%;
	background-color: var(--orange);
}
.infoFillForm > p {
	max-width: fit-content;
	margin: 0;
	padding: 30px 0;
}

/* volunteering-page */
.filterBox {
	min-width: 300px;
	margin: 20px;
	position: absolute;
}
.containerFilter {
	display: flex;
	flex-flow: column;
	flex-basis: 33%;
}
.containerFilter > label{
	margin: 0.7rem 0;
	font-weight: 600;
}
.listTasksLoader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.listTasksLoader > .taskWait {
	padding: 20px;
	display: inherit;
	flex-direction: column;
	justify-content: space-between;
	background: #FFFFFF;
    box-shadow: 0px 4px 14px 7px rgb(0 0 0 / 10%);
    border-radius: 8px;
	border-radius: 20px;
	flex-basis: calc(25% - 80px);
	min-height: 500px;
	max-width: 25%;
	gap: 20px;
	margin: 20px;
}
.infoBlock {
	display: inherit;
	flex-direction: column;
	flex-grow: 1;
	gap: 20px;
}
.taskWait > .categoriesHelper {
	display: inherit;
	justify-content: space-evenly;
}
.taskWait > .categoriesHelper img {
	width: 20%;
	height: fit-content;
	flex-basis: 20%;
}
.taskWait > .infoBlock > .informHelper, .selectBox > b {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.selectBox > b {
	-webkit-line-clamp: 1;
}
.infoBlock >.mapHelper {
	width: 100%;
	border-radius: 8px;
	flex-grow: 1;
}

.selectBox {
	padding: .625em .7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-size: 1em;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	gap: 1em;
}
.selectBox > input {
	width: 90%;
	font-size: 1em;
	border: none;
	outline: none;
	padding: 0;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}
.selectBox img {
    transform-origin: center;
    transform: scaleY(1);
    -webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
    width: 1em;
}
@media (min-width: 375px) {
	.mainContent {
	  padding: 0 calc(50% - 360px);
	}
}
@media (min-width: 830px) {
	.mainContent {
	  padding: 0 calc(50% - 360px);
	}
}
  
@media (min-width: 1240px) {
	.mainContent {
	  padding: 0 calc(50% - 580px);
	}
}
  
@media (min-width: 1475px){
	.mainContent {
	  padding: 0 calc(50% - 690px);
	}
}

@media (max-width: 1240px) {
	.listTasksLoader {
		flex-direction: column;
		gap: 2vh;
	}
	.listTasksLoader > .taskWait {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 100%;
		min-height: 400px;
	} 
	.taskWait > .infoBlock {
		flex: 0 1 85%;
	}
	.taskWait > div:nth-child(1) {
		flex: 0 1 10%;
		flex-direction: column;
	} 
	.taskWait > div:nth-child(1) >img {
		width: 100%;
	} 
}
.calendar-container {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
	display: none;
    bottom: 0;
    z-index: 5;
}
.calendar-container.active {
   display: flex;
}
/* месяцы и годы */
#month-calendar{
    width: 50%;
	margin: auto;
	z-index: 10;
}

.month{
    margin: 0;
    padding: 3rem 2rem 2rem;
    background: #555555;
    text-align: center;
    width: 100%;
    color: #ffffff;
    list-style: none;
	
}

.month li{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next{
    cursor: pointer;
}

.month li.next > img{
    transform: scaleX(-1);
}

.month li.prev > img,
.month li.next > img{
	width: 40px;
}

.month li.prev{
    float: left;
}

.month li.next{
    float: right;
}

.month li.year-name{
    font-size: 1.2rem;
    font-weight: 400;
}

/* дни недели */
.weekdays{
    margin: 0;
    padding: 1rem 0;
    background-color: #dddddd;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */
.days{
    margin: 0;
    padding: 1rem 0;
    background-color: #eeeeee;
    width: 100%;
	min-height: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
	cursor: pointer;
}

.days li{
    padding: 0.5rem;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    color: #999;
    font-size: 1rem;
    line-height: 1rem;
	text-align: center;
}
.days li > p {
	padding: 10px;
	width: fit-content;
	text-align: center;
	margin: auto;
	border-radius: 50%;
	display: inline-block;
	padding: 0.5em 0;
	width: 2em;
	height: 2em;
}

.days li > p.date-now{
    color: white;
    font-weight: 700;
	background-color: var(--orange);
	transition: 1s;
}
.alert-error {
	display: none;
	position: absolute;
	bottom: 0;
	background-color: #ebc8c4;
	z-index: 6;
	margin: auto;
	width: 100%;
	padding: 5px 20px;
}







