/* form-styles */
.sectionRequestForm {
	display: flex;
	height: 100vh;
	background: rgba(219, 211, 216, 0.85);
}
.modalRequestForm {
	padding: 30px 20px 0 20px;
	display: flex;
	flex-direction: column;
	overflow: auto;
    gap: 10px;
	width: 100vw;
	background: #EFF1F3;
}

.infoFillForm {
	padding-left: 0;
	height: -webkit-fill-available;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
}

.hintBlock, .control-box > button, .sideBar{
	display: none;
}