.sideBar{
    display: none;
}

.mobileProfileBar, .mobileFooter{
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #223843;
}
.mobileIconLink{
    margin: 2%;
}
.mobileIconLink > img {
    width: 6vw;
    height: 6vw;
}

.mobileFooter{
    position: absolute;
    bottom: 0;
}