#profile{
    background-color: #223843d9;
    color: #FFFFFF;
}

#profile .profile-photo-div{
    width: 20%;
    height: 20%;

    margin: auto;
    margin-top: 10%;
}
#profile .profile-photo-div #profile-photo{
    width: 100%;
    height: 100%;
}

#profile #name{
    margin: 1%;
    text-align: center;
    color: #FFFFFF;
}

#profile .info-section{
    width: 100%;

    margin: auto;

    display: flex;
}
#profile .info-section .info{
    width: 45%;
    height: 100%;

    margin: auto;
    margin-top: 5%;
}

#profile .info-section .info h3, 
#profile .info-section .info p{
    width: 100%;
    letter-spacing: 0.1em;
}
#profile .info-section .info h3{
    font-weight: lighter;
}
#profile .info-section .info p, #personName{
    font-weight: bolder;
}