#profile{
    background-color: #223843d9;
    color: #FFFFFF;
}

.profile-photo-div{
    width: 20%;
    height: 20%;

    margin: auto;
    margin-top: 5%;
}
.profile-photo-div #profile-photo{
    width: 100%;
    height: 100%;
}

