.navigation {
    width: 5vw;
    height: 100vh;
    position: absolute;
    background-color: #223843;
    z-index: 100;
}

.navigation__link{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}
.navigation__link > img {
    width: 100%;
    height: 100%;
    position: relative;
	z-index: 3;
	padding: 1.5rem;
	font-size: 0 !important;
}

.profileLink {
	position: absolute;
    left: 20%;
	bottom: 1%;
}
.circleNavigation {
    width: 80%;
    height: calc(5vw * 0.8);
    position: absolute;
    top: 2vw;
    left: 10%;
    z-index: 1;
    border-radius: 50%;
    background-color: #D77A61;
    transition: 1s;
}

.iconLink:nth-child(1).active ~ .circleNavigation {
    top: 2vw;
}
.iconLink:nth-child(2).active ~ .circleNavigation {
    top: calc(1 * (6vw - 1px) + 2vw);
}
.iconLink:nth-child(3).active ~ .circleNavigation {
    top: 14vw;
}
.iconLink:nth-child(4).active ~ .circleNavigation {
    top: calc(3 * (6vw) + 1.7vw);
}
.iconLink:nth-child(5).active ~ .circleNavigation {
    top: 90vh;
}



.navigation {
	background-color: var(--dark-blue);
	width: auto;
	height: 100vh;
}
.navigation__highlight {
	position: absolute;
	z-index: 2;
	top: 1.25rem;
	background-color: var(--orange);
	margin: 0 1.25rem;
	width: 2.5rem;
    height: 2.5rem;
	border-radius: 50%;
	transition: 1s;
}
.navigation__link:nth-child(4) {
	position: absolute;
	bottom: 0;
}
.navigation__link:nth-child(1).link_active ~ .navigation__highlight  {
	transform: translateY(0);
}
.navigation__link:nth-child(2).link_active  ~ .navigation__highlight  {
	transform: translateY(calc(5rem * 1));
}
.navigation__link:nth-child(3).link_active  ~ .navigation__highlight  {
	transform: translateY(calc(5rem * 2 + 3px));
}
.navigation__link:nth-child(4).link_active ~ .navigation__highlight  {
	transform: translateY(calc(100vh - 5rem));
}
.navigation__link > img {
	
}