.sideBar {
    width: 7.5vw;
    height: 100vh;
    position: absolute;
    background-color: #223843;
}
.mobileProfileBar{
    display: none;
}

.iconLink{
    width: 70%;
    margin: auto;
    margin-top: 5%;
}
.iconLink>img {
    width: 80%;
    height: 80%;
}

.profileLink {
	position: absolute;
	bottom: 0;
}
.bvjsdfil {
    cursor: pointer;
    width: 50px;
    padding: 40px 25px;
    user-select: none;
    position: relative;
    z-index: 3;
}
.circleNavigation {
    display: none;
    margin: 0 17px;
    position: absolute;
    top: 32px;
    z-index: 2;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #D77A61;
}

.iconLink:nth-child(1).active~.circleNavigation {
    transform: translateY(calc(130px*0));
    transition: 1s;
}
.iconLink:nth-child(2).active~.circleNavigation {
    transform: translateY(calc(130px*1));
    transition: 1s;
}
.iconLink:nth-child(3).active~.circleNavigation {
    transform: translateY(calc(130px*2 + 3px));
    transition: 1s;
}
.iconLink:nth-child(4).active~.circleNavigation {
    transform: translateY(calc(130px * 3));
    transition: 1s;
}
.iconLink:nth-child(5).active~.circleNavigation {
    transform: translateY(calc(100vh - 130px));
    transition: 1s;
}