.sideBar {
    width: 5vw;
    height: 100vh;
    position: absolute;
    background-color: #223843;
}
.mobileProfileBar{
    display: none;
}

.iconLink{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 50%;
    cursor: pointer;
    z-index: 3;
}
.iconLink > img {
    width: 100%;
    height: 100%;
}

.profileLink {
	position: absolute;
    left: 20%;
	bottom: 1%;
}
.circleNavigation {
    width: 80%;
    height: calc(5vw * 0.8);
    position: absolute;
    top: 2vw;
    left: 10%;
    z-index: 1;
    border-radius: 50%;
    background-color: #D77A61;
    transition: 1s;
}

.iconLink:nth-child(1).active ~ .circleNavigation {
    top: 2vw;
}
.iconLink:nth-child(2).active ~ .circleNavigation {
    top: calc(1 * (6vw - 1px) + 2vw);
}
.iconLink:nth-child(3).active ~ .circleNavigation {
    top: 14vw;
}
.iconLink:nth-child(4).active ~ .circleNavigation {
    top: calc(3 * (6vw) + 1.5vw + 1px);
}
.iconLink:nth-child(5).active ~ .circleNavigation {
    top: 44.5vw;
}