@font-face {
	font-family: Montserrat;
	src: url(../font/Montserrat-VariableFont_wght.ttf);
}
body{
	margin: 0%;
	padding: 0%;
	max-height: 100vh;
	max-width: 100vw;
}
p, h1, h2, h3, h4, h5, h6{
	margin-block: 0%;
	margin-inline: 0%;
}

#sign-up-in-form{
	width: 100vw;
	height: 100vh;
	background: rgba(215, 122, 97, 0.85);
}

#registration-card, #login-card{
	width: 80%;
	height: 80%;

	border-radius: 20px;

	position: absolute;
	display: flex;
	flex-wrap: wrap;

	transition: 1.5s;
	background: #EFF1F3;
	box-shadow: 9px 9px 21px rgba(214, 211, 216, 0.55);
}
#registration-card{
	top: -90%;
	left: 10%;
} 
#registration-card.active{
	top: 10%;
}
#login-card{
	top: 10%;
	left: 10%;
}
#login-card.active{
	top: -90%;
}

#registration-form, #login-form{
	width: 45%;
	height: 100%;

	font-family: 'Montserrat';
	font-style: normal;
}
#registration-form{
	margin: auto;
}
#login-form{
	margin-left: 7.5%;
}
#login-form>h1,#registration-form>h1{
	width: 100%;
	margin: 10% 0%;
}

.login-pic-div, .pic-div{
	width: 40%;
	height: 100%;
}
.login-pic-div{
	position: absolute;
	right: 0%;
}

.registration-img, .login-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.registration-img{
	border-radius: 20px 0px 0px 20px;
}
.login-img{
	border-radius: 0px 20px 20px 0px;
}

input{
	width: 100%;
	margin: 2px;
	border-radius: 5px;

	border: 2px solid #EFF1F3;
	background-color: #EFF1F3;
	outline: none;

	transition: 0.5s;

	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
input:focus {
	border: 2px solid #555555;
}
input.mistake{
	border: 2px solid red;
	animation: mistake 0.2s;
}
@keyframes mistake {
	0%{
		margin-left: -5px;
	}
	33%{
		margin-left: 9px;
	}
	66%{
		margin-left: -5px;
	}
	100%{
		margin-left: 2px;
	}
}
input.success{
	border: 2px solid green;
}

button{
	border: none;
	font-weight: 400;
	font-size: 100%;
	line-height: 110%;
}
.actions{
	width: 50%;
	bottom: 5%;
	position: absolute;
}
#sign-up, #sign-in, #no-registration{
	height: 40px;

	color: #EFF1F3;
	border-radius: 20px;
	
	background: #223843;
}
#sign-up{
	width: 40%;
}
#sign-in{
	width: 35%;
}
#login{ 
	width: 50%;
	height: 30px;
	margin-left: 2.5%;
}
#registration{
	width: 45%;
	height: 30px;
	margin-left: 10%;
}

#no-account{
	width: 25%;
	height: 30%;

	display: none;
	position: absolute;
	right: 2.5%;
	bottom: 5%;

	border-radius: 20px;

	background-color: #EFF1F3;

}
#no-account.active{
	display: block;
}
#warning{
	width: 30%;
	height: 30%;
	margin: auto;
	margin-top: 5%;
}
#warning>img{
	width: 100%;
	height: 100%;
	margin: auto;
}
#cross{
	width: 10%;
	height: 10%;

	display: none;
	opacity: 0;

	position: absolute;
	top:10%;
	right:5%;
}
#cross>img{
	width: 100%;
	height: 100%;
	margin: auto;
}
#no-account>p{
	width: 100%;
	text-align: center;
	margin-top: 5%;

	font-size: 150%;
	font-weight: 500;
}
#no-registration{
	width: 80%;
	bottom: 10%;
	left: 10%;
	position: absolute;
}

#bad-password{
	color: #da1515;
	margin: 5% 0%;
	display: none;
}

#connection-failed{
	width: 100vw;
	height: 100vh;
	position: relative;
	backdrop-filter: blur(50px);
	display: none;
}
.message{
	width: 40%;
	height: 40%;
	
	position: absolute;
	top: 30%;
	left:30%;

	border-radius: 20px;

	background: #EFF1F3;
	box-shadow: 9px 9px 21px rgb(80, 80, 80);
}
.message>h1{
	margin-top: 5%;
	text-align: center;
}
#retry{
	width: 50%;
	height: 15%;
	margin: 15% 25%;

	background-color: #223843;
	color: #EFF1F3;
	border-radius: 20px;
	text-align: center;
}