@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');

/* Basic styles for elements */
* {
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border: none;
}
:root {
	--white: #EFF1F3;
	--orange: #D77A61;
	--dark-blue: #223843;
}
p {
	margin: 0;
	padding: 0;
}
img {
	user-select: none;
}
body {
	overflow: hidden;
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
}
@media (min-width: 300px) {
	body {
	  font-size: calc(1rem + ((1vw - 3px) * 0.4938));
	  min-height: 0vw;
	}
}
@media (min-width: 1920px) {
	body {
	  font-size: 24px;
	}
}

/* Navigation */
.circleNavigation {
	background-color: var(--orange);
	position: absolute;
	top: 1.25rem;
	z-index: 2;
	margin: 0 1.25rem;
	width: 2.5rem;
    height: 2.5rem;
	border-radius: 50%;
	transition: 1s;
}
.sideBar {
	background-color: var(--dark-blue);
	width: auto;
	height: 100vh;
}
.navigationLinks > .iconLink img {	
	cursor: pointer;
	position: relative;
	z-index: 3;
	width: 2rem;
	padding: 1.5rem;
}
.navigationLinks > .iconLink {
	font-size: 0 !important;
}
.navigationLinks > .iconLink:nth-child(5) {
	position: absolute;
	bottom: 0;
}
.iconLink:nth-child(1).active ~ .circleNavigation{
	transform: translateY(0);
}
.iconLink:nth-child(2).active ~ .circleNavigation{
	transform: translateY(calc(5rem * 1));
}
.iconLink:nth-child(3).active ~ .circleNavigation{
	transform: translateY(calc(5rem * 2 + 3px));
}
.iconLink:nth-child(4).active ~ .circleNavigation{
	transform: translateY(calc(5rem * 3));
}
.iconLink:nth-child(5).active ~ .circleNavigation{
	transform: translateY(calc(100vh - 5rem));
}
/* Main work space */
main {
	flex-grow: 1;
	width: 100%;
}
@media screen and (min-width: 769px) { 
	.mobileProfileBar, .mobileFooter {
		display: none;
	}
}
@media screen and (max-width: 768px) and (orientation: portrait) { 
	body {
		flex-direction: column;
	}
	.sideBar {
		display: none;
	}
	.mobileProfileBar, .mobileFooter {
		width: 100vw;
		height: auto;
		background-color: var(--dark-blue);
	}
	.navigationLinks {
		display: flex;
		justify-content: space-between;
	}
	.navigationLinks > .iconLink img, .mobileIconLink img {
		margin: 10px;
	}
	main {
		overflow: auto;
	}
}


/* icon-selection */
.modal-window {
	background: #eff1f3a8;
    position: sticky;
	bottom: 0;
    z-index: 10;
    display: flex;
    height: 100vh;
}
.block-modal-form {
	display: flex;
	gap: 10%;
	height: 100%;
}
.modalRequestForm {
	box-sizing: border-box;
	transition: 1s width ease-in-out;
	padding: 3em;
    background: var(--white);
    box-shadow: 9px 9px 21px rgb(0 0 0 / 55%);
    border-radius: 20px;
	margin: auto 0;
}	
.hint-block
{
	display: flex;
    flex-direction: column;
    align-items: center;
	flex: 0 1 30%;
	gap: 50px;
}
.hint-block > .diagram-info
{
	display: flex;
	margin: 20px;
}
.diagram-info > .icon-section
{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mobileIconForm, .pcIconForm
{
	position: relative;
}
.hintParagraph {
	height: 6em;
}
.mobileIconForm  > svg, .pcIconForm > svg
{
	width: 3rem;
	height: auto;
	transform: rotate(0deg);
}
.mobileIconForm > svg.active, .pcIconForm > svg.active
{
	fill:var(--orange);
	animation: bounce;
  	animation-duration: 1s;
}
/* icon-selection end */

/* info-form-section */
.infoFillForm 
{
	display: inherit;
	flex-direction: column;
	max-width: 60%;
    flex: 0 1 60%;
	flex-grow: 1;
}

/* svg file */
.percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5rem;
	text-anchor: middle;
}
.single-chart {
	width: 14rem;
	justify-content: space-around ;
}
  
.circular-chart {
	display: block;
	margin: 10px auto;
}
  
.circle-bg {
	fill: none;
	stroke: #DBD3D8;
	stroke-width: 3.8;
}
  
.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	--value: 0;
	stroke-dasharray: var(--value) 100;
}
.circular-chart .circle {
	stroke: var(--orange);
}
/* svg file end */

.dropdownMenu
{
	position: relative;
	height: fit-content;
	z-index: 3;
}
.taskTitleBox
{
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}

.dropdownMenu input
{
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.taskTitleBox img
{
	transform-origin: center;
    transform:  scaleY(1);
	-webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
	width: 20px;	
}
.labelTrigerMenu img.active
{
	transform-origin: center;
	transform: scaleY(-1);
	-webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
}
.activitiesList .activity
{
	padding: 10px;
}
.activitiesList .activity:nth-child(1)
{
	padding-top: 20px;
}
.activitiesList .activity:nth-last-child(1)
{
	padding-bottom: 20px;
}
.activitiesList {
	background-color: var(--white);
	width: 100%;
	position: absolute;
	z-index: 5;
    max-height: 0px;
    overflow:hidden;
    -webkit-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    -moz-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
	border-radius: 0 0 8px 8px;
	border: none;
/* КОНЕЦ */
}
 
.activitiesList.active {
    max-height:500px;
	box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 55%);
}

.activitiesList > .activity input 
{
	outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	background-color: transparent;;
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 1em;
	box-sizing: border-box;
}

.mobilehint-block {
	display: none;
}
.infoFillForm > .hintParagraph {
	display: none;
}
.mainContent {
	height: 100%;
}
.modal-output-form {
	padding: 0 15px;
	margin: auto 0;
	width: 100%;
}  
@media (min-width: 830px) {
	.modal-output-form, .mainContent {
	  padding: 0 calc(50% - 360px);
	}
}
  
@media (min-width: 1240px) {
	.modal-output-form, .mainContent {
	  padding: 0 calc(50% - 580px);
	}
}
  
@media (min-width: 1475px){
	.modal-output-form, .mainContent {
	  padding: 0 calc(50% - 690px);
	}	
}
@media (max-width: 1240px) {
	.modalRequestForm {
		flex-direction: column;
		gap: 20px;
		height: 60vh;
	}
	.block-modal-form {
		flex-direction: column;
		gap: 10px;
	}
	.infoFillForm {
		max-width: 100%;
		flex: 0 1 100%;
	}
	.modalRequestForm > .hint-block, .modalRequestForm > .infoFillForm {
		max-width: 100%;
		flex: 0 1 100%;
	}
	.hint-block {
		display: none;
	}
	.infoFillForm > .hintParagraph {
		display: block;
	}
	.mobilehint-block {
		display: block;
	}
}
/* Flip card */
.flip-modal-info {
	background-color: transparent;
}
.flip-modal-info-inner {
	transition: transform 1s;
	transform-style: preserve-3d;
	perspective: 1000px
}
.flip-active {
	transform: rotateY(180deg);
}
.transform-disabled {
	display: none !important;
}
.navigation-block {
	display: flex;
	flex-direction: column;
	overflow: auto;
    gap: 10px;
    background: var(--white);
    box-shadow: rgb(0 0 0 / 55%) 9px 9px 21px;
    border-radius: 20px; 
    gap: 10%;
    margin: auto 0px;
}
.info-modal-card {
	display: flex;
	flex-direction: column;
	font-size: 1rem;
	background-color: #223843d1;
}
.card-navigation {
	display: flex;
	justify-content: end;
}
.card-navigation > .nav-trigger img {
	width: 2rem;
	padding: 1.5rem;
}
.flip-card {
	color: var(--dark-blue);
	margin: 0 3.5rem 3.5rem;	
	display: grid;
	grid-gap: 10px;
  	grid-template-columns: 40% 60%;
  	grid-template-rows: 80% 20%;
	grid-template-areas: 
    "card-img card-text" 
    "card-img card-deadline";	
}
.navigation-block > .rotate-card-flip:nth-child(2) {
	transform: rotateY(180deg) !important;
}
.flip-card button {
	font-size: 1em;
	font-weight: bold;
	height: fit-content;
	color: var(--dark-blue);
	outline: none;
	border: 3px solid var(--dark-blue);
	border-radius: 10px;
	background-color: unset;
	display: flex; 
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}
.rotate-trigger {
	position: relative;
}
.flip-card button > img{
	width: 1rem;
}
.flip-card > .img-main-card {
	grid-area: card-img;
}
.flip-card > .img-main-card img {
	box-sizing: content-box;
	border-radius: 20px;
}
.flip-card > .main-text-card {
	grid-area: card-text;
	display: flex;
	flex-direction: column;
}
.main-text-card > .card-main-info {
	flex-grow: 1;
}
.main-text-card > .card-adress-info {
	padding: 20px 0;
}
.flip-card > .contact-detail-card {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	grid-area: card-deadline;
}
.contact-detail-card > .timer-flow-card {
	display: flex;
	flex-direction: row;
}
.timer-flow-card > .timer-set {
	display: flex;
	flex-direction: column;
    align-items: center;
}
.timer-flow-card > span {
	padding: 0 20px;
}
.timer-set > b {
	font-weight: lighter;
}
.timer-set > p {
	font-size: 0.5em;
	padding: 0;
	margin: 0;
}
.main-text-card > .card-title {
	margin-top: 0;
}
.main-text-card > .card-adress-info {
	font-weight: bold;
}
.status-message {
	display: none;
	flex-direction: column;
	align-items: center;
}
.status-message > p {
	line-height: 1.3;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 500;
}
.widget-pull-block {
	position: absolute;
	right: 0;
	z-index: 10;
	width: auto;
	display: flex;
	flex-direction: row-reverse;
	background-color: var(--white);
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	border-radius: 10px 0 0 10px;
}
.set-filters-box {
	max-width: 0;
	overflow: hidden;
	transition: max-width 1.5s;
	font-size: 0.7em;
	width: 500px;
}
.inner-filter-box-space {
	padding: 10px 10px 10px 2px;
	box-sizing: border-box;
}
.set-filters-box > div {
	width: inherit;
}
.content-pull-block.searchbar-filter {
	padding: 20px 0 5px 0;
	display: flex;
	gap: 5px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.content-pull-block.searchbar-filter > img {
	width: 0.8em;
	padding: 5px;
}
.set-filters-box.active {
	max-width: 500px !important;
}
.trigger-open-block {
	cursor: pointer;
	padding: 10px;
	height: auto;
}
.trigger-open-block img {
	width: 1em;
}
.trigger-open-block > .line-pull-down {
	width: 5px;
	height: 100%;
	background-color: #30303037;
	border-radius: 20px;
}
.mapboxgl-ctrl-geocoder .suggestions { 
	position: relative;
	top: 0;
}
.adress-lines-suggestions {
	padding: 0;
	margin: 0;
}
.search-adress-main-map {
	background-color: transparent;
	width: 100%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
	font-style: normal;
	outline: none;
    border: none;
	box-sizing: border-box;
	background-color: transparent;
}
.adress-lines-suggestions li {
	list-style: none;
	white-space: nowrap;
	padding: 5px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.adress-lines-suggestions li > b, .adress-lines-suggestions li > p {
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.adress-lines-suggestions > li:last-child() {
	border: none;
}
.filter-types-box {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	gap: 10px;
}
.filter-types-box > .box-category-help {
	max-width: calc(50% - 5px);
	flex: 0 1 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	border-radius: 10px;
}
.box-category-help img {
	width: 1.5em;
}
/* .mapFilterActivity {
	display: none;
} */
.box-category-help.active {
	background: #e5e5e5;
	-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
	-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
	box-shadow: inset 0px 0px 5px #c1c1c1;
	outline: none;
}