@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');

/* basic styles for elements */
body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Montserrat';
	font-style: normal;
	max-height: 100vh;
}
body, input, textarea {
	font-size: calc(10px + 14 * (100vw / 1440));
}
@media screen and (max-device-width: 768px){
	body, input, textarea{
		font-size: calc(25px + 4 * (100vw / 1340));
		font-family: 'Montserrat', sans-serif;
		font-family: 'Montserrat';
	}
}

/* navigation-bar */

/* pc-version */
main {
	flex-grow: 1;
	width: 100%;
}
/* main::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
main::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}
main::-webkit-scrollbar-thumb {
	background-color: #dfdfdf;
	border-radius: 10px;
} */
  
.circleNavigation{
	margin: 0 17px;
	position: absolute;
	top: 32px;
	z-index: 2;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background-color: #D77A61;
}
.sideBar{
	width: auto;
	height: 100vh;
	background-color: #223843;
}
.navigationLinks > .iconLink img {	
	cursor: pointer;
	width: 50px;
	padding: 40px 25px;
	user-select: none;
	position: relative;
    z-index: 3;
}
.navigationLinks{
	font-size: 0;
}
.iconLink:nth-child(1).active ~ .circleNavigation{
	transform: translateY(calc(130px*0));
	transition: 1s;
}
.iconLink:nth-child(2).active ~ .circleNavigation{
	transform: translateY(calc(130px * 1));
	transition: 1s;
}
.iconLink:nth-child(3).active ~ .circleNavigation{
	transform: translateY(calc(130px * 2 + 3px));
	transition: 1s;
}
.iconLink:nth-child(4).active ~ .circleNavigation{
	transform: translateY(calc(130px * 3));
	transition: 1s;
}
.iconLink:nth-child(5).active ~ .circleNavigation{
	transform: translateY(calc(100vh - 130px));
	transition: 1s;
}
.profileLink{
	position: absolute;
	bottom: 0;
}
@media screen and (min-device-width: 769px){
	.mobile-profile-bar{
		display: none;
	}
	.footer-side-bar-mobile{
		display: none;
	}
}

/* icon-selection */
.sectionRequestForm {
    position: sticky;
    z-index: 2;
    bottom: 0;
    display: flex;
    height: 100vh;
    background: rgba(219, 211, 216, 0.85);
}
.modalRequestForm {
	padding: 3em;
    height: min-content;
	min-height: 600px;
    background: #EFF1F3;
    box-shadow: 9px 9px 21px rgb(0 0 0 / 55%);
    border-radius: 20px;
    display: flex;
    gap: 10%;
	margin: auto 0;
}
.hintBlock
{
	display: flex;
    flex-direction: column;
    align-items: center;
	max-width: 30%;
	flex: 0 1 30%;
	gap: 50px;
}
.hintBlock > .diagram-info
{
	display: flex;
	margin: 20px;
}
.diagram-info > .icon-section
{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mobileIconForm
{
	position: relative;
}
.mobileIconForm > svg
{
	width: 3.5rem;
	height: auto;
	transform: rotate(0deg);
}
.mobileIconForm > svg.active
{
	fill:#D77A61;
	animation: bounce;
  	animation-duration: 1s;
}
/* icon-selection end */

/* info-form-section */
.infoFillForm 
{
	display: inherit;
	flex-direction: column;
	max-width: 60%;
    flex: 0 1 60%;
}

/* svg file */
.percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5rem;
	text-anchor: middle;
}
.single-chart {
	width: 14rem;
	justify-content: space-around ;
}
  
.circular-chart {
	display: block;
	margin: 10px auto;
}
  
.circle-bg {
	fill: none;
	stroke: #DBD3D8;
	stroke-width: 3.8;
}
  
.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	--value: 0;
	stroke-dasharray: var(--value) 100;
}
.circular-chart .circle {
	stroke: #D77A61;
}
/* svg file end */

.dropdownMenu
{
	position: relative;
	height: fit-content;
}
.taskTitleBox
{
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}

.dropdownMenu input
{
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);

	width: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.taskTitleBox img
{
	transform-origin: center;
    transform:  scaleY(1);
	-webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
	width: 20px;	
}
.labelTrigerMenu img.active
{
	transform-origin: center;
	transform: scaleY(-1);
	-webkit-transition: transform 0.4s linear;
    -moz-transition: transform 0.4s linear;
    transition: transform 0.4s linear;
}
.activitiesList .activity
{
	padding: 10px;
}
.activitiesList .activity:nth-child(1)
{
	padding-top: 20px;
}
.activitiesList .activity:nth-last-child(1)
{
	padding-bottom: 20px;
}
.activitiesList {
	background-color: #EFF1F3;
	width: 100%;
	position: absolute;
	z-index: 5;
    max-height: 0px;
    overflow:hidden;
    -webkit-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    -moz-transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
    transition:max-height 0.4s linear, box-shadow 0.4s ease-in-out;
	border-radius: 0 0 8px 8px;
	border: none;
/* КОНЕЦ */
}
 
.activitiesList.active {
    max-height:500px;
	box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 55%);
}

.activitiesList > .activity input 
{
	outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	background-color: transparent;;
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 1em;
	box-sizing: border-box;
}

.mobilehintBlock {
	display: none;
}
.mobileProfileBar {
	display: none;
}
.mobileFooter {
	display: none;
}
.infoFillForm > .hintParagraph {
	display: none;
}
.mainContent {
	height: 100%;
}
.formvolunteeringAdd{
	padding: 0 15px;
	margin: auto 0;
    width: 100%;
}  
@media (min-width: 830px) {
	.formvolunteeringAdd, .mainContent {
	  padding: 0 calc(50% - 360px);
	}
}
  
@media (min-width: 1240px) {
	.formvolunteeringAdd, .mainContent {
	  padding: 0 calc(50% - 580px);
	}
}
  
@media (min-width: 1475px){
	.formvolunteeringAdd, .mainContent {
	  padding: 0 calc(50% - 690px);
	}
	body {
		font-size: 26px;
	}
}
@media (max-width: 1240px) {
	.modalRequestForm {
		flex-direction: column;
		gap: 20px;
	}
	.modalRequestForm > .hintBlock, .modalRequestForm > .infoFillForm {
		max-width: 100%;
		flex: 0 1 100%;
	}
	.hintBlock {
		display: none;
	}
	.infoFillForm > .hintParagraph {
		display: block;
	}
	.mobilehintBlock {
		display: block;
	}
}




